<h1>Welcome, administrator.</h1>
<%= link_to 'Add a book', new_book_path %>
<br>
<%= link_to 'Search for a book', new_book_path %>
<br>
<%= link_to  "View All Books", books_path %>
<br>
<%= link_to  "Back",  lookup_index_path%>